<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://erp.medicalsoftplus.com/baseDev/plugins/DicomVista/$1 [R=301,L]   
RewriteBase /baseDev/plugins/DicomVista/ 

RewriteRule ^index$ index.php